/*header*/
.logo {
    height: 80px;
    width: 80px;
    z-index: 10;
    position: absolute;
}

header {
    background-color: #55C0CF;
}

/*header*/
.liste {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 1;
    height: 120px;
}

/*header*/
.items {
    margin-right: 10px;
    color: #333;
    cursor: pointer;

}

/*header*/
.btnn {
    display: none;

}


@media screen and (max-width: 500px) {

    .items:nth-child(1) {
        margin-top: 120px;
    }

    .liste {
        flex-direction: column;
        height: 180px;
        width: 100%;

    }

    .items {
        height: 50px;
        width: 100%;
        line-height: 50px;
    }

    .btnn {
        display: block;
        position: absolute;
        right: 10px;
        top: 20px;
        color: #333;
        cursor: pointer;
    }

    .logo {
        position: relative;
    }


}